<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Latex Builder</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='styles/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet" />
</head>

<body>
  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="logo">
        <a href="#" class="nav-link">
          <span class="link-text logo-text">Latex Builder</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="./" class="nav-link">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          Settings
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          About
        </a>
      </li>
    </ul>
  </nav>

  <main>
    <div id="site-title">
      <h1>Latex Builder</h1>
    </div>
    <form class="box" method="post" action="" enctype="multipart/form-data">
      <div id="drop-file-area">
        <button id="select-file-text">Select or drop a zip file</button>
        <input id="file-input" class="box__file hiddenfile" type="file" name="files[]" id="file"
          data-multiple-caption="{count} files selected" multiple />
        <div class="box__uploading">Uploading&hellip;</div>
        <div class="box__success">Done!</div>
        <div class="box__error">Error!</div>
        <div id="drop-file-overlay">&nbsp;</div>
      </div>
    </form>
  </main>

  <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
    crossorigin="anonymous"></script>
  <script src='scripts/main.js'></script>
</body>

</html>