{{#> layouts/default }}

{{#*inline "content-block"}}
<main>
  <div id="site-title">
    <h1>{{>page/title}}</h1>
  </div>
  <div class="site-description main-content">
    <p>
      To use this tool, simply drop a <span class="highlight-text">zip</span> file containing a latex project in the box below.
      The system will convert the contents of <span class="highlight-text">main.tex</span> file to a word
      document, and will automatically download the output file. Optionally, you can also include a
      <span class="highlight-text">bibliography.bib</span> file containing the citations of the document.
      The source code to this project is <a href="https://github.com/nimamahmoudi/latex-builder">publicly available</a>.
    </p>
  </div>
  <form class="box" method="post" action="upload" enctype="multipart/form-data">
    <div id="drop-file-area" class="main-content">
      <button id="select-file-text">Select or drop a zip file</button>
      <input id="file-input" class="box__file hiddenfile" type="file" name="file" id="file" />
      <div class="box__uploading">Uploading&hellip;</div>
      <div class="box__success">Done!</div>
      <div class="box__error">Error!</div>
      <div id="drop-file-overlay">&nbsp;</div>
    </div>
  </form>
</main>
{{/inline}}

{{#*inline "footer-block"}}
<script src='/scripts/main.js'></script>
{{/inline}}


{{/layouts/default}}