{{#> layouts/default }}

{{#*inline "content-block"}}
<main class="build-main">
  <pre class="build-output"></pre>
</main>
{{/inline}}

{{#*inline "footer-block"}}
<script src="/socket.io/socket.io.js"></script>
<script>
  var fileId = "{{fileId}}"
</script>
<script src='/scripts/logs.js'></script>
{{/inline}}

{{/layouts/default}}