<nav class="navbar">
  <ul class="navbar-nav">
    <li class="logo">
      <a href="/" class="nav-link">
        <span class="link-text logo-text">Latex Builder</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/" class="nav-link">
        Home
      </a>
    </li>
    {{!-- <li class="nav-item">
      <a href="#" class="nav-link">
        Settings
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        About
      </a>
    </li> --}}
  </ul>
</nav>