:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    --navbar-size: 4rem;
    --navbar-item-width: 5.5rem;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    margin-top: var(--navbar-size);
    padding: 1rem;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: var(--navbar-size);
    background-color: var(--bg-primary);
    transition: width 100ms ease;
    overflow: none;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: var(--navbar-size);
}

.navbar-nav .logo {
    width: 10rem;
}

.navbar-nav .logo a {
    width: 100%;
}

.nav-item {
    height: 100%;
}

.nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--navbar-item-width);
    height: 100%;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    margin-left: 1rem;
    width: var(--navbar-item-width);
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #ff7eee;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1rem;
    letter-spacing: 0.3ch;
    height: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    text-align: center;
    transition: var(--transition-speed);
}

#site-title {
    text-align: center;
    margin-bottom: 3rem;
}

#drop-file-area {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed black;
    height: 50vh;
    margin: 0 10% 0 10%;
    width: 80%;
    position: relative;
}

#drop-file-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: orange;
    opacity: 0.3;
    display: none;
    z-index: -1;
}

.is-dragover #drop-file-overlay {
    display: block;
}

#select-file-text {
    display: inline;
    border: none;
    background-color: white;
    color: orange;
    border: 2px solid orange;
    transition-duration: 0.4s;
    padding: 1rem;
    border-radius: 5px;
}

#select-file-text:hover {
    background-color: orange;
    color: white;
}

.box__uploading,
.box__success,
.box__error {
    display: none;
}

.is-uploading #select-file-text,
.is-success #select-file-text,
.is-error #select-file-text {
    display: none;
}

.is-uploading .box__uploading,
.is-error .box__error,
.is-success .box__success {
    display: block;
}

.display-none {
    display: none;
}

.hiddenfile {
    width: 0px;
    height: 0px;
    overflow: hidden;
}